<a class="button channel" data-server="{{ serverName }}" data-channel="{{ name }}" href="#/{{ serverName }}/{{ safeName }}">
  {{ name }}
  <div id="notification" class="badge fade-in">{{ unread }}</div>
</a>
