<a class="button channel" data-server="{{ serverName }}" data-channel="{{ name }}" href="#/{{ serverName }}/{{ safeName }}">
  {{ name }}
  <i class="new-message-notification fa fa-fw fa-comment pull-right fade-in"></i>
</a>
