{{#if user.attributes.nickname}}
  <div class="user" data-nickname="{{ user.attributes.nickname }}">{{ user.attributes.nickname }}</div>
  <p class="message">{{ message }}</p>
{{else}}
  {{{ message }}}
{{/if}}
