<input type="checkbox" class="hidden" id="server-list-{{ name }}" checked>
<label for="server-list-{{ name }}" class="button server" data-server="{{ name }}">
  {{ name }}
  <i class="fa fa-fw fa-server"></i>
</label><!-- href="#/{{ name }}" -->
<ol class="channel-list"></ol>
